backend/data/*.csv 
node_modules/ 
venv/ 
backend/app/__pycache__/
backend/__pycache__/
*.pyc 
backend/.env
.env
frontend/.env
frontend/dist/ 
frontend/node_modules/ 
backend/venv/ 
backend/data/*.csv 
